@media(max-width: 1735px) {
    .cd-horizontal-timeline .events-content { width: 53%; }
        
}

@media(max-width: 1622px) {
    .cd-horizontal-timeline .events-content { width: 60%; }
        
}
@media(max-width: 1410px) {
    .cd-horizontal-timeline .events-content { width: 70%; }
        
}

@media(max-width: 1361px) {
    #sobre-nos .mvv-empresa .empresa {
        width: 320px;
        height: 280px;
        margin-right: 50px; 
    }

   #nossa-historia { width: 1060px; }

    #sobre-nos .mvv-empresa .empresa .icone { left: 125px;}
}

@media(max-width: 1317px) {

    #sobre-nos .mvv-empresa .empresa {
        margin-right: 30px;
    }
   
}

@media(max-width: 1110px) {
	 #nossa-historia { width: 900px; }
	 #nossa-historia .historia-texto { width: 1000px; }
}

@media(max-width: 1269px ){
    #sobre-nos .mvv-empresa { flex-wrap: wrap; }
    
	#sobre-nos .mvv-empresa .empresa {
        margin-bottom: 50px;
        width: 400px;
    }

    #sobre-nos .mvv-empresa .empresa .texto-empresa { text-align: inherit; }

    #sobre-nos .mvv-empresa .empresa .icone {
        left: 165px;
    }
    
    
}

@media(max-width: 1222px) {
    .cd-horizontal-timeline .events-content { width: 80%; }
    #sobre-nos .mvv-empresa {
	   	flex-direction: column;
	    align-items: center;
	}

	#sobre-nos .mvv-empresa .empresa { margin-right: 0; }
}

@media(max-width: 1086px) {
    .cd-horizontal-timeline .events-content { width: 85%; }
        
}


@media(max-width: 1020px) {
    .cd-horizontal-timeline .events-content { width: 90%; }
        
}



@media(max-width: 970px) {
    .formulario #informacoes-coluna { 
        flex-direction: column;
        margin-bottom: 0;
     }
    .formulario #informacoes-coluna > div { 
        width: 100%;
        margin-bottom: 25px;
    }
    /*#nosso-time { height: 120vh; }*/
}

@media(max-width: 940px){
    #nossa-historia {
        width: 400px;
        height: 400px;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

 	#nossa-historia .historia-texto { width: 360px; }   
    
    #nossa-historia #borda-listrada { display: none; }
    
}

@media(max-width: 910px) {
    footer .redes-sociais { width: 80%; }
    .coluna-1 { margin-right: 100px; }
}

@media(max-width: 850px) {
    #header nav { display: none; }
    #header .menu-movel { display: block; }
}

@media(max-width: 810px) {
    .primeira-linha {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 750px) {

    .formulario {
        width: 80%;
        align-items: center;
    }

    .formulario #informacoes-coluna { margin-right: 20px; }

    #parceiros .arrows {
        position: unset;
        width: 83px;
        margin-bottom: 14px;
        margin-top: -4px;
    }

    #parceiros .slick-slider { margin-top: 0; }

    .texto-time { font-size: 18pt; }
}

@media(max-width: 742px) {
    #Seta-esquerda img { right: 53%; }
    #Seta-direita img { right: 41%; }
}

@media(max-width: 696px) {
    footer .segunda-linha {
        flex-direction: column;
    }
}

@media(max-width: 690px) {
    #Seta-esquerda img {
        right: 53%;
    }

}
@media(max-width: 650px) {
    footer .redes-sociais {
        flex-direction: column;
        align-items: center;
     }
    
     footer .segunda-linha { flex-direction: column; }

     .coluna-1 {
        margin-right: 0;
        width: 100%;
     }

     .redes-sociais > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
}

@media(max-width: 626px) {

    .chamada {
        height: 164px;
        padding-bottom: 20px;
    }
    .chamada .container {
        flex-direction: column;
        justify-content: center;
    }

    .texto-chamada { 
        width: 100%;
        text-align: center;
        font-size: 15pt;
    }

    #container-chamada .seja-parceiro h2 { font-size: 21pt; }
}

@media(max-width: 596px) {
    .modal {
        width: 456px;
        height: auto;
    }

    #modal-secao .descricao {
        width: 425px;
        font-size: 12pt;

    }

    #modal-secao .info-empresa .info { width: 425px; }
    #modal-secao .info-empresa .info .icone { margin-right: 25px; }
}

@media(max-width: 575px) {
    #Seta-direita img {
        right: 38%;
    }
}

@media(max-width: 524px) {
    .modal {
        width: 437px;
        
    }

    #modal-secao .descricao {
        width: 397px; 
        margin-bottom: 8px;
    }

    #modal-secao .info-empresa .info { width: 396px; }

    #modal-secao .info-empresa .info .icone { margin-right: 20px; }

}

@media(max-width: 500px){
    #sobre-nos .mvv-empresa .empresa, #nossa-historia { width: 350px; }
    #sobre-nos .mvv-empresa .empresa .icone {
        left: 135px;
    }

    #nossa-historia .historia-titulo { width: auto; }
    #nossa-historia .historia-texto {
        width: auto;
        padding: 15px;
    }
}


@media(max-width: 550px) {
    .titulo h1 { 
        font-size: 30pt;
        text-align: center;
    }

    .texto-time { font-size: 16pt; }
}

@media(max-width: 490px) {
    #Seta-direita img {
        right: 30%;
    }
}

@media(max-width: 475px) {
    .modal {
        width: 400px;
      
    }

    #modal-secao .info-empresa .info:first-child { margin-bottom: 50px; }
    #modal-secao .info-empresa .info { 
        flex-direction: column;
        margin-bottom: 16px;
        text-align: center;
    }

    #modal-secao .info-empresa .info .icone { margin-right: initial; }
    #modal-secao .info-empresa .info p {
        width: 365px;
        font-size: 9pt;
        line-height: 17px;
    }
}

@media(max-width: 454px){
    #nosso-time { height: 120vh; }
    .texto-time { font-size: 14pt; }
}

@media(orientation: landscape) and (max-height: 450px) {
    .texto-time { 
        margin-top: 0;
        font-size: 12pt; 
    }
    .texto-time p {
        margin: 0;
    }
    #nosso-time .titulo h1 {
        margin: 10px 0;
    } 
}

@media(max-width: 446px) {
    .cd-horizontal-timeline .events-content .image,
    .cd-horizontal-timeline .events-content #info {
        width: 100%;
    }

    .modal {
        width: 341px;
      
    }

    #modal-secao  .descricao { width: 351px; }

    #modal-secao .info-empresa .info:first-child {
        margin-bottom: 70px;
    }

    #modal-secao .info-empresa .info { width: 350px; }
    #modal-secao .info-empresa .info p { width: 243px; }

    #modal-secao .descricao #descricao-empresa-junior {
        padding: 12px;
    }



}

@media(max-width: 415px){
    #sobre-nos .mvv-empresa .empresa, #nossa-historia { width: 300px; }
    #sobre-nos .mvv-empresa .empresa .icone {
        left: 110px;
    }


    
}

@media(max-width: 380px) {
    .titulo h1 { font-size: 25pt; }
    #parceiros .arrows {
        margin-top: -10px;
        margin-bottom: 18px;
     }
}

@media(max-width: 375px) {
    .modal {
        width: 322px;
      
    }

    #modal-secao .descricao {
        width: 289px;
        font-size: 11pt;
    }

    .chamada { padding-bottom: 28px; }
}

@media(max-width: 360px){
    #sobre-nos .mvv-empresa .empresa, #nossa-historia { 
        width: 250px;
        height: 350px;
    }
    #sobre-nos .mvv-empresa .empresa .icone {
        left: 90px;
    }
     #nossa-historia .historia-texto { font-size: 14px; }
    
}

@media(max-width: 355px) {

    .modal {
        width: 300px;
       
    }
    #modal-secao .info-empresa .info {
        width: 290px;
    }

    #modal-secao .descricao { width: 265px; }
}

@media(max-width: 350px) {
    .cd-horizontal-timeline .events-content #info {
        flex-direction: column;
        align-items: center;
    }
}




/* ------ Medias Banner -------- */

@media screen and (min-width: 320px){
    .Espaço-título{
        height: 100px;
    }
    .Espaço-título .Título{
        width: 90%;
        height: 100px;
        font-size: 135%;
    }
    .Espaço-botão .Botão-banner{
        width: 150px;
        height: 45px;
        top: 200px;
        font-size: 100%;
    }
}

@media screen and (min-width: 384px){
    .Espaço-título{
        height: 100px;
    }
    .Espaço-título .Título{
        width: 90%;
        height: 100px;
        font-size: 135%;
    }
    .Espaço-botão .Botão-banner{
        width: 150px;
        height: 45px;
        font-size: 100%;
    }
}

@media screen and (min-width: 390px){
    .Espaço-título{
        height: 100px;
    }
    .Espaço-título .Título{
        width: 90%;
        height: 100px;
        font-size: 135%;
    }
    .Espaço-botão .Botão-banner{
        width: 150px;
        height: 45px;
        top: 225px;
        font-size: 100%;
    }
}

@media screen and (min-width: 425px){
    .Espaço-título .Título{
        width: 90%;
        font-size: 150%;
    }
    .Espaço-botão .Botão-banner{
        width: 150px;
        height: 45px;
        font-size: 115%;
    }
}

@media screen and (min-width: 480px){
    .Espaço-título .Título{
        width: 90%;
        font-size: 170%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 507px){
    .Espaço-título .Título{
        width: 90%;
        font-size: 170%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 540px){
    .Espaço-título .Título{
        width: 90%;
        font-size: 175%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 596px){
    .Espaço-título .Título{
        width: 80%;
        font-size: 200%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 735px){
    .Espaço-título .Título{
        width: 80%;
        font-size: 250%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        top: 275px;
        font-size: 125%;
    }
}

@media screen and (min-width: 768px){
    .Espaço-título .Título{
        width: 75%;
        font-size: 250%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        top: 275px;
        font-size: 125%;
    }
}

@media screen and (min-width: 808px){
    .Espaço-título .Título{
        width: 80%;
        font-size: 275%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 960px){
    .Espaço-título .Título{
        width: 75%;
        font-size: 275%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        font-size: 150%;
    }
}

@media screen and (min-width: 1020px){
    .Espaço-título .Título{
        width: 75%;
        font-size: 275%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 300px;
        font-size: 150%;
    }
}
@media screen and (min-width: 1080px){
    .Espaço-título .Título{
        width: 70%;
        font-size: 300%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 325px;
        font-size: 150%;
    }
}

@media screen and (min-width: 1250px){
    .Espaço-título .Título{
        width: 60%;
        font-size: 300%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 325px;
        font-size: 150%;
    }
}
@media screen and (min-width: 1440px){
    .Espaço-título .Título{
        width: 50%;
        font-size: 300%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 350px;
        font-size: 150%;
    }
}
@media screen and (min-width: 1920px){
    .Espaço-título .Título{
        width: 50%;
        font-size: 400%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 400px;
        font-size: 150%;
    }
}   

