@media(max-width: 1735px) {
    .cd-horizontal-timeline .events-content { width: 53%; }
        
}

@media(max-width: 1622px) {
    .cd-horizontal-timeline .events-content { width: 60%; }
        
}
@media(max-width: 1410px) {
    .cd-horizontal-timeline .events-content { width: 70%; }
        
}

@media(max-width: 1361px) {
    #sobre-nos .mvv-empresa .empresa {
        width: 320px;
        height: 280px;
        margin-right: 50px; 
    }

   #nossa-historia { width: 1060px; }

    #sobre-nos .mvv-empresa .empresa .icone { left: 125px;}
}

@media(max-width: 1317px) {

    #sobre-nos .mvv-empresa .empresa {
        margin-right: 30px;
    }
   
}

@media(max-width: 1110px) {
	 #nossa-historia { width: 900px; }
	 #nossa-historia .historia-texto { width: 1000px; }
}

@media(max-width: 1269px ){
    #sobre-nos .mvv-empresa { flex-wrap: wrap; }
    
	#sobre-nos .mvv-empresa .empresa {
        margin-bottom: 50px;
        width: 400px;
    }

    #sobre-nos .mvv-empresa .empresa .texto-empresa { text-align: inherit; }

    #sobre-nos .mvv-empresa .empresa .icone {
        left: 165px;
    }
    
    
}

@media(max-width: 1222px) {
    .cd-horizontal-timeline .events-content { width: 80%; }
    #sobre-nos .mvv-empresa {
	   	flex-direction: column;
	    align-items: center;
	}

	#sobre-nos .mvv-empresa .empresa { margin-right: 0; }
}

@media(max-width: 1086px) {
    .cd-horizontal-timeline .events-content { width: 85%; }
        
}


@media(max-width: 1020px) {
    .cd-horizontal-timeline .events-content { width: 90%; }
        
}



@media(max-width: 970px) {
    .formulario #informacoes-coluna { 
        flex-direction: column;
        margin-bottom: 0;
     }
    .formulario #informacoes-coluna > div { 
        width: 100%;
        margin-bottom: 25px;
    }
    #nosso-time { height: 120vh; }
}

@media(max-width: 940px){
    #nossa-historia {
        width: 400px;
        height: 400px;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

 	#nossa-historia .historia-texto { width: 360px; }   
    
    #nossa-historia #borda-listrada { display: none; }
    
}

@media(max-width: 850px) {
    .menu nav { display: none; }
    .menu .icone-mobile { display: block; }
}

@media(max-width: 750px) {

    .formulario {
        width: 80%;
        align-items: center;
    }

    .formulario #informacoes-coluna { margin-right: 20px; }

}

@media(max-width: 500px){
    #sobre-nos .mvv-empresa .empresa, #nossa-historia { width: 350px; }
    #sobre-nos .mvv-empresa .empresa .icone {
        left: 135px;
    }

    #nossa-historia .historia-titulo { width: auto; }
    #nossa-historia .historia-texto {
        width: auto;
        padding: 15px;
    }

   
    
}


@media(max-width: 550px) {
    .titulo h1 { 
        font-size: 30pt;
        text-align: center;
    }

    .texto-time { font-size: 18pt; }
}

@media(max-width: 454px){
    #nosso-time { height: 140vh; }
}

@media(max-width: 446px) {
    .cd-horizontal-timeline .events-content .image,
    .cd-horizontal-timeline .events-content #info {
        width: 100%;
    }
}

@media(max-width: 415px){
    #sobre-nos .mvv-empresa .empresa, #nossa-historia { width: 300px; }
    #sobre-nos .mvv-empresa .empresa .icone {
        left: 110px;
    }
    
}

@media(max-width: 380px) {
    .titulo h1 { font-size: 25pt; }
    .texto-time { font-size: 16pt; }
}

@media(max-width: 360px){
    #sobre-nos .mvv-empresa .empresa, #nossa-historia { 
        width: 250px;
        height: 350px;
    }
    #sobre-nos .mvv-empresa .empresa .icone {
        left: 90px;
    }
     #nossa-historia .historia-texto { font-size: 14px; }
    
}

@media(max-width: 350px) {
    .cd-horizontal-timeline .events-content #info {
        flex-direction: column;
        align-items: center;
    }
}

/* ------ Medias Banner -------- */

@media screen and (min-width: 320px){
    .Espaço-título{
        height: 100px;
    }
    .Espaço-título .Título{
        width: 90%;
        height: 100px;
        font-size: 135%;
    }
    .Espaço-botão .Botão-banner{
        width: 150px;
        height: 45px;
        top: 200px;
        font-size: 100%;
    }
}

@media screen and (min-width: 384px){
    .Espaço-título{
        height: 100px;
    }
    .Espaço-título .Título{
        width: 90%;
        height: 100px;
        font-size: 135%;
    }
    .Espaço-botão .Botão-banner{
        width: 150px;
        height: 45px;
        font-size: 100%;
    }
}

@media screen and (min-width: 390px){
    .Espaço-título{
        height: 100px;
    }
    .Espaço-título .Título{
        width: 90%;
        height: 100px;
        font-size: 135%;
    }
    .Espaço-botão .Botão-banner{
        width: 150px;
        height: 45px;
        top: 225px;
        font-size: 100%;
    }
}

@media screen and (min-width: 425px){
    .Espaço-título .Título{
        width: 90%;
        font-size: 150%;
    }
    .Espaço-botão .Botão-banner{
        width: 150px;
        height: 45px;
        font-size: 115%;
    }
}

@media screen and (min-width: 480px){
    .Espaço-título .Título{
        width: 90%;
        font-size: 170%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 507px){
    .Espaço-título .Título{
        width: 90%;
        font-size: 170%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 540px){
    .Espaço-título .Título{
        width: 90%;
        font-size: 175%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 596px){
    .Espaço-título .Título{
        width: 80%;
        font-size: 200%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 735px){
    .Espaço-título .Título{
        width: 80%;
        font-size: 250%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        top: 275px;
        font-size: 125%;
    }
}

@media screen and (min-width: 768px){
    .Espaço-título .Título{
        width: 75%;
        font-size: 250%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        top: 275px;
        font-size: 125%;
    }
}

@media screen and (min-width: 808px){
    .Espaço-título .Título{
        width: 80%;
        font-size: 275%;
    }
    .Espaço-botão .Botão-banner{
        width: 200px;
        height: 60px;
        font-size: 125%;
    }
}

@media screen and (min-width: 960px){
    .Espaço-título .Título{
        width: 75%;
        font-size: 275%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        font-size: 150%;
    }
}

@media screen and (min-width: 1020px){
    .Espaço-título .Título{
        width: 75%;
        font-size: 275%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 300px;
        font-size: 150%;
    }
}
@media screen and (min-width: 1080px){
    .Espaço-título .Título{
        width: 70%;
        font-size: 300%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 325px;
        font-size: 150%;
    }
}

@media screen and (min-width: 1250px){
    .Espaço-título .Título{
        width: 60%;
        font-size: 300%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 325px;
        font-size: 150%;
    }
}
@media screen and (min-width: 1440px){
    .Espaço-título .Título{
        width: 50%;
        font-size: 300%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 350px;
        font-size: 150%;
    }
}
@media screen and (min-width: 1920px){
    .Espaço-título .Título{
        width: 50%;
        font-size: 400%;
    }
    .Espaço-botão .Botão-banner{
        width: 270px;
        height: 60px;
        top: 400px;
        font-size: 150%;
    }
}   

/*------ Chamada 1 ----------*/

@media screen and (min-width: 320px){
    .Texto-chamada1 .Texto{
        width: 88%;
        padding: 6%;
    }
    .Botão-chamada1{
        width: 40%;
    }
}

@media screen and (min-width: 480px){
    .Botão-chamada1{
        width: 60%;
    }
}

@media screen and (min-width: 768px){
    .Texto-chamada1 .Texto{
        width: 88%;
        padding: 6%;
    }
    .Botão-chamada1{
        width: 30%;
    }
}
@media screen and (min-width: 960px){
    .Chamada1{
        height: 100px;
        justify-content: space-around;
        flex-direction: row;
    }
    .Texto-chamada1{
        width: 70%;
    }
    .Texto-chamada1 .Texto{
        height: 40%;
        padding: 0;
        text-align: left;
    }
    .Texto-chamada1 .Texto h2{
        padding: 0;
        margin: 5px;
    }
    .Botão-chamada1{
        width: 15%;
        height: 40%;
    }
    .Botão-chamada1 h3{
        padding: 0;
        margin: 12px;
    }
}

/*------ Chamada 2 ----------*/
@media screen and (min-width: 320px){
    .Texto-chamada2 .Texto{
        width: 88%;
        padding: 6%;
    }
    .Botão-chamada2{
        width: 40%;
    }
}
@media screen and (min-width: 480px){
    .Botão-chamada2{
        width: 60%;
    }
}

@media screen and (min-width: 768px){
    .Texto-chamada2 .Texto{
        width: 88%;
        padding: 6%;
    }
    .Botão-chamada2{
        width: 30%;
    }
}
@media screen and (min-width: 960px){
    .Chamada2{
        height: 100px;
        justify-content: space-around;
        flex-direction: row;
    }
    .Texto-chamada2{
        width: 70%;
    }
    .Texto-chamada2 .Texto{
        height: 40%;
        padding: 0;
        text-align: left;
    }
    .Texto-chamada2 .Texto h2{
        padding: 0;
        margin: 5px;
    }
    .Botão-chamada2{
        width: 15%;
        height: 40%;
    }
    .Botão-chamada2 h3{
        padding: 0;
        margin: 12px;
    }
}

/*------ Chamada 3 ----------*/ 
@media screen and (min-width: 320px){
    .Chamada3{
        height: 300px;
        flex-direction: column;
    }
    .Texto1-chamada3{
        width: 70%;
        height: 50px;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 55%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 360px){
    .Chamada3{
        height: 300px;
        flex-direction: column;
    }
    .Texto1-chamada3{
        width: 60%;
        height: 50px;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 49%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 414px){
    .Chamada3{
        height: 300px;
        flex-direction: column;
    }
    .Texto1-chamada3{
        width: 60%;
        height: 50px;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 43%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 480px){
    .Chamada3{
        height: 300px;
        flex-direction: column;
    }
    .Texto1-chamada3{
        width: 50%;
        height: 50px;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 38%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 768px){
    .Chamada3{
        height: 300px;
        flex-direction: column;
    }
    .Texto1-chamada3{
        width: 30%;
        height: 50px;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 23%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 800px){
    .Chamada3{
        height: 300px;
        flex-direction: column;
    }
    .Texto1-chamada3{
        width: 26%;
        height: 50px;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 22%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 830px){
    .Chamada3{
        height: 300px;
        flex-direction: column;
    }
    .Texto1-chamada3{
        width: 26%;
        height: 50px;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 21%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 868px){
    .Chamada3{
        height: 300px;
        flex-direction: column;
    }
    .Texto1-chamada3{
        width: 26%;
        height: 50px;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 20%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 960px){
    .Chamada3{
        height: 100px;
        flex-direction: row;
    }
    .Texto1-chamada3{
        width: 22%;
        height: 28px;
    }
    .Texto1-chamada3 .Texto1{
        text-align: right;
    }
    .Texto2-chamada3{
        width: 19%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: right;
    }   
}
@media screen and (min-width: 1000px){
    .Chamada3{
        height: 100px;
        flex-direction: row;
    }
    .Texto1-chamada3{
        width: 21%;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 18%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 1100px){
    .Chamada3{
        height: 100px;
        flex-direction: row;
    }
    .Texto1-chamada3{
        width: 20%;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 17%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 1160px){
    .Chamada3{
        height: 100px;
        flex-direction: row;
    }
    .Texto1-chamada3{
        width: 19%;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 16%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 1260px){
    .Chamada3{
        height: 100px;
        flex-direction: row;
    }
    .Texto1-chamada3{
        width: 18%;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 15%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 1300px){
    .Chamada3{
        height: 100px;
        flex-direction: row;
    }
    .Texto1-chamada3{
        width: 17%;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 14%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}
@media screen and (min-width: 1440px){
    .Chamada3{
        height: 100px;
        flex-direction: row;
    }
    .Texto1-chamada3{
        width: 15%;
    }
    .Texto1-chamada3 .Texto1{
        text-align: center;
    }
    .Texto2-chamada3{
        width: 13%;
    }
    .Texto2-chamada3 .Texto2{
        text-align: center;
    }
}

/* ------ Carrossel -------- */
@media screen and (min-width: 1200px){
    .carrossel{
        width: 80%;
        height: 200px;
    }
    .Espaço-img{
        width: 180px;
        height: 200px;
    }
    .carrossel img{
        width: 100%;
        height: 200px;
    }
}
@media screen and (min-width: 1000px){
    .carrossel{
        width: 80%;
        height: 180px;
    }
    .Espaço-img{
        width: 180px;
        height: 180px;
    }
    .carrossel img{
        width: 100%;
        height: 180px;
    }
}