{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Federação PB Junior</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugin-slick/slick.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugin-slick/slick-theme.css'%}"/>
    <link rel="icon" href="{% static 'imagens/icone-pb.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="keywords" content="Federação PB Junior, PB Junior, PB, Empresas Juniores">
    <meta name="description" content=" a Federação Paraibana de Empresas Juniores - PB Júnior - É uma associação civil, sem  fins econômicos, gerida e constituída exclusivamente por alunos de graduação de Instituições de Ensino Superior da Paraíba (IES-PB).">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <meta name="theme-color" content="#A9303E" />    

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133269179-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133269179-1');
    </script>

</head>
<body>
	<!-- =======================
        #Header
    ========================= -->
    <div id="header">
        <div class="container">
            <div class="logo">
                <img src="{% static 'imagens/logo_branca.png' %}" alt="Logo da empresa">
            </div>
            <div class="logo-colorida">
                <a href="#Banner"><img src="{% static 'imagens/logo_colorida.png' %}" alt="Logo da empresa"></a>
            </div>
            <div class="menu">
                <div class="menu-movel">
                    <i class="fas fa-bars"></i>
                </div>
            
                <nav>
                    <ul>
                        <li><a href="#Banner" aria-haspopup = "true"  id="link">Home</a></li>
                        <li><a href="#sobre-nos" aria-haspopup = "true" id="link">Sobre Nós</a></li>
                        <li><a href="#empresas-juniores" aria-haspopup = "true" id="link">Empresas Juniores</a></li>
                        <li><a href="#agenda" aria-haspopup = "true" id="link">Eventos</a></li>
                        <li><a href="#parceiros" aria-haspopup = "true" id="link">Parceiros</a></li>
                        <li><a href="#contato" aria-haspopup = "true" id="link">Contato</a></li>
                    </ul>
                </nav>

            </div>
		</div>
	</div>

	<div class="menu-mobile">
        <nav>
            <ul>
                <li><a href="#Banner" aria-haspopup = "true" id="link">Home</a></li>
                <li><a href="#sobre-nos" aria-haspopup = "true" id="link">Sobre Nós</a></li>
                <li><a href="#empresas-juniores" aria-haspopup = "true" id="link">Empresas Juniores</a></li>
                <li><a href="#agenda" aria-haspopup = "true" id="link">Eventos</a></li>
                <li><a href="#parceiros" aria-haspopup = "true" id="link">Parceiros</a></li>
                <li><a href="#contato" aria-haspopup = "true" id="link">Contato</a></li>
            </ul>
        </nav>
        <div id="fechar">
            <img src={% static "imagens/cancel.svg" %}>
        </div>

          
    </div>
    <!-- =======================
        #Banner
    ========================= -->
    <div class="Banner" id="Banner">
        <div class="Filtro">
            <div class="Espaço-título">
                <div class="Título">
                    <h2>SOMOS O BANDO QUE VAI MARCAR UMA GERAÇÃO</h2>
                </div>              
            </div>
            <div class="Espaço-botão">
                <div class="Botão-banner"><a href="#sobre-nos" style="color: white; text-decoration: none" id="link"> <h3 style="margin-top: 15px;">CONHECER MAIS</h3> </a></div>              
            </div>
        </div>
    </div>

    <!-- =======================
		#Sobre Nós
    ========================= -->
    <div id="sobre-nos">
        <div class="container">
            <div class="titulo">
                <h1>[ Sobre Nós ]</h1>
            </div>

            <div class="mvv-empresa">
                <div class="empresa">
                    <div class="icone">
                        <div class="imagem-icone">
                            <img src="{% static 'imagens/icones/mvv/flag.png' %}"> </img>
                        </div>
                        
                    </div>
                    <div class="mvv"><p>Missão</p></div>
                    <div class="texto-empresa">
                        <p>Disseminar e desenvolver o MEJ na Paraíba</p>
                    </div>
                </div>

                <div class="empresa">
                    <div class="icone">
                        <div class="imagem-icone">
                            <img src="{% static 'imagens/icones/mvv/view (2).png' %}"> </img>
                        </div>
                        
                    </div>
                    <div class="mvv"><p>Visão</p></div>
                    <div class="texto-empresa">
                        <p>Tornar-se uma Federação de Alto Impacto em 2018</p>
                    </div>
                </div>

                <div class="empresa">
                    <div class="icone">
                        <div class="imagem-icone">
                             <img src="{% static 'imagens/icones/mvv/diamond.png' %}"> </img>
                        </div>
                       
                    </div>
                    <div class="mvv"><p>Valores</p></div>
                    <div class="texto-empresa">
                        <ul>
                            <li><p>Amor pela federação;</p></li>
                            <li><p>Compromisso com resultados;</p></li>
                            <li><p>Transparência em todas as ações;</p></li>
                            <li><p>Colaboratividade para crescermos juntos;</p></li>
                            <li><p>Resiliência em todas as situações.</p></li>
                        </ul>
                    </div>
                </div>
               
            </div>

            <div id="nossa-historia">
                <div id="borda-listrada"></div>
                <div class="historia-titulo">
                    <h4>Nossa História</h4>
                </div>
                <div class="historia-texto">
                    <p>Fundada em 2001, a Federação Paraibana de Empresas Juniores - PB Júnior - É uma associação civil, sem
                      fins econômicos, gerida e constituída exclusivamente por alunos de graduação de Instituições de Ensino Superior da Paraíba (IES-PB).</p>
                </div>
            </div>
        </div>
    </div>
    <!-- =======================
        #Chamada 1
    ========================= -->
        <div class="chamada">
            <div class="container">
                <div class="texto-chamada">
                    <h2>Conheça nosso produto de suporte</h2>
                </div>
                <a class="botão-chamada-link" href="#contato"><div class="botão-chamada" id="suporte">Clique Aqui</div></a>
            </div>
            
        </div>
    <!-- =======================
		#Nosso Time
    ========================= -->

    <div id="nosso-time">
        <div class="container">
            <div class="titulo">
                <h1>[ Nosso Time ]</h1>
            </div>
            <div class="texto-time">
                <p>Somos mais que um time, somos um Carca Time. Nós temos fome de resultados e sede de alto crescimento. Nosso compromisso é com o Brasil, a Paraíba, a sua EJ, com você!
                 Ser do Carca Time é amar a Paraíba e trabalhar a
                cada dia por uma federação de Alto Impacto.</p>
            </div>
        </div>
    </div>
    <!-- =======================
        #Carrossel Ej's
    ========================= -->
    <div id="empresas-juniores">
        <div class="container">
            <div class="Título-ejs"><div class="titulo"><h1>[ CONTRATE UMA EJ ]</h1></div></div>
                <div class="slider-ejs">

                    {% for empresa in empresas %}
                        <div>
                            <div class="imagem imagem-empresa">
                                <img src="{{ empresa.logoEmpresa.url }}" data-logo="{{empresa.logoEmpresa.url}}" data-descricao="{{empresa.descricaoEmpresa}}" 
                                data-local="{{empresa.localEmpresa}}" data-site="{{empresa.siteEmpresa}}" data-email="{{empresa.emailEmpresa}}">
                            </div>
                            
                        </div>
                    {% endfor %}
            </div>
        </div>
        
    </div>

   
    <!-- =======================
        #Chamada 2
    ========================= -->
    <div class="chamada">
        <div class="container">
            <div class="texto-chamada">
                <h2>Conheça nosso produto de expansão</h2>
            </div>
            <a class="botão-chamada-link" href="#contato" id="expansao"><div class="botão-chamada">Clique Aqui</div></a>
        </div>
    </div>

     <!-- =======================
		#Agenda
    ========================= -->

<div id="agenda">
    <div class="container">
        <div class="titulo">
            <h1>[ Agenda de Eventos ]</h1>
        </div>
    </div>
        <section class="cd-horizontal-timeline">
            <div class="timeline">
                <div class="events-wrapper">
                    <div class="events">
                        <ol>
                        {% for evento in eventos %}
                            {% if forloop.first %}
                                <li><a href="#0" data-date="{{ evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}" class="selected">{{evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}</a></li>
                            {% else %} 
                                <li><a href="#0" data-date="{{evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}">{{evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}</a></li>
                            {% endif %}
                        {% endfor %}
                    
                        </ol>

                        <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                </div> <!-- .events-wrapper -->

                <ul class="cd-timeline-navigation">
                    <li><a href="#0" class="prev inactive">Prev</a></li>
                    <li><a href="#0" class="next">Next</a></li>
                </ul> <!-- .cd-timeline-navigation -->
            </div> <!-- .timeline -->

            <div class="events-content">
                <ol>
                    {% for evento in eventos %}
                        {% if forloop.first %}
                            <li class="selected" data-date="{{ evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}">
                            <div class="container">
                                {% if evento.imagem %}
                                <div class="image"><img src="{{ evento.imagem.url }}" ></div>
                                {% endif %}
                                <div id="info">
                                    <span>{{ evento.nomeEvento }}</span>
                                    <span>{{ evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}</span>
                                </div>
                                <div class="text">
                                    <p> 
                                    {{ evento.descricao }}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% else %}
                            <li data-date="{{ evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}">
                            <div class="container">
                                {% if evento.imagem %}
                                <div class="image"><img src="{{ evento.imagem.url }}" ></div>
                                {% endif %}
                                <div id="info">
                                    <span>{{ evento.nomeEvento }}</span>
                                    <span>{{ evento.dataEvento }}</span>
                                </div>
                                <div class="text">
                                    <p> 
                                    {{ evento.descricao }}
                                    </p>
                                </div>
                            </div>
                        </li>
                         {% endif %}
                    {% endfor %}
                    
                </ol>
            </div> <!-- .events-content -->
        </section>
    </div>


<!-- =======================
        #Carrossel Parceiros
    ========================= -->
    

    <div id="parceiros">
        <div class="container">
            <div class="titulo">
                <h1>[ Nossos Parceiros] </h1>
            </div>
            <div class="arrows">
                <div class="arrow">
                    <div class="prev"><img src="static/imagens/icones/back-white.svg"></div>
                </div>

                <div class="arrow">
                    <div class="next"><img src="static/imagens/icones/next-white.svg"></div>
                </div>  
            </div>
            
            <div class="slider">

                
                {% for parceiro in parceiros %}

                    <a class="parceiro" {% if parceiro.url %} href="{{ parceiro.url }}" {% endif %} target="__blank">
                         <img src="{{ parceiro.logoEmpresa.url }}">
                    </a>

                {% endfor %}
                
                
            </div>

           
        </div>
    </div>


    <!-- =======================
        #Chamada 3
========================= -->
    <div class="chamada">

        <div class="container" id="container-chamada">
            <div class="texto-chamada">
                <h2>Apoie a nossa rede</h2>
            </div>
            <div class="seja-parceiro">
                <a href="#contato" id="ser-parceiro"><h2>Seja um parceiro</h2></a>
            </div> 
        </div>
         
    </div>
    <!-- =======================
		#Contato
    ========================= -->

    <div id="contato">
        
        <div class="container">
            <div class="titulo">
                <h1>[ Contato ]</h1>
            </div>
            <form class="formulario"  method='POST' action="/ContactView/">
                {% csrf_token %}
                <div id="informacoes-coluna">
                    <div><input placeholder="Nome" type="text" name="nome"></div>
                    <div><input placeholder="Telefone" type="number" name="telefone"></div>
                </div>
                <input placeholder="Email" type="email" name="email">
                <input placeholder="Assunto" type="text" name="assunto" id="assunto-campo">
                <textarea placeholder="Mensagem" type="text" name="mensagem"></textarea>
                <button class="botao" type="submit">Enviar</button>
            </form>
        </div>
    </div>

    <!-- =======================
		#Footer
    ========================= -->

    <footer>
        <div class="container">
            <div class="primeira-linha">
                <div class="logo">
                    <a href="#Banner"><img src="{% static 'imagens/logo_branca.png' %}"></a>
                </div>
                <div class="redes-sociais">
                    <div class="coluna-1">
                        <a class="rede" href="https://www.facebook.com/federacaopbjunior/" target="_blank">
                            <img  src="{% static 'imagens/icones/footer/facebook.svg' %}">
                            <span>/federacaopbjunior</span>
                        </a>

                        <a class="rede" href="https://www.instagram.com/federacaopbjunior/" target="_blank">
                            <img  src="{% static 'imagens/icones/footer/instagram.svg' %}">
                            <span>/federacaopbjunior</span>
                        </a>

                        <a class="rede" href="https://www.youtube.com/channel/UC9jbdbdd0U3PbkLqdWQ0F6w" target="_blank">
                            <img  src="{% static 'imagens/icones/footer/youtube.svg' %}">
                            <span>/federacaopbjunior</span>
                        </a>
                    </div>

                    <div class="coluna-2">
                    <div class="rede" target="_blank">
                        <img  src="{% static 'imagens/icones/footer/message.svg' %}">
                        <span>contato@pbjunior.org.br</span>
                    </div>

                    <div class="rede" target="_blank">
                        <img  src="{% static 'imagens/icones/footer/location.svg' %}">
                        <div id="local">
                            <span>Campus I - Lot. Cidade Universitaria,</span>
                            <span> João Pessoa - PB, 58033-455</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="segunda-linha">
                <div class="copyright">
                    <span>&copy; 2018 CITi Todos os direitos reservados</span>
                </div>

                <div class="feito">
                    <p>Made with <span><img src="{% static 'imagens/icones/footer/code.svg' %}">
                    </span> and <span><img src="{% static 'imagens/icones/footer/heart.svg' %}"></span> by
                    <span><a href="http://citi.org.br" target="_blank"><img src="{% static 'imagens/logo_citi.png' %}"></a></span>  </p>
                </div>
                
				
            </div>
        </div>
    </footer>


    <!-- =======================
        #Modal
    ========================= -->

    <div id="modal-secao">
        <div class="container">
            <div class="modal">
                 <div id="fechar">
                    <img src="{% static "imagens/cancel-modal.svg" %}">
                </div>
                <div class="logo-ej">
                    <img src="{% static 'imagens/eja.png' %}"  id="logo-empresa-junior">
                </div>

                <div class="descricao" >
                    <p id="descricao-empresa-junior">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt </p>
                </div>

                <div class="info-empresa">

                    <div class="info">
                        <div class="icone">
                            <img src="{% static 'imagens/location.svg' %}">
                        </div>
                        
                       <p id="local-empresa-junior">UFPB – Campus I Centro de Ciências Sociais Aplicadas Bloco dos Centro Acadêmicos Sala 
                       da EJA Consultoria 1o Andar João Pessoa/PB – CEP: 58050-725</p>
                    </div>

                    <div class="info">
                        <div class="icone">
                            <img src="{% static 'imagens/icones/language.svg' %}">
                        </div>
                        <p id="site-empresa-junior">www.ejaconsultoria.com.br</p>
                    </div>

                    <div class="info">
                        <div class="icone">
                            <img src="{% static 'imagens/message.svg' %}">
                        </div>
                        <p id="email-empresa-junior">contato@gmail.com</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/linha-tempo.js' %}"></script> <!-- Resource jQuery -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/carrossel.js'%}" type="text/javascript"></script>
<script src="{% static 'js/plugin-slick/slick.min.js'%}" type="text/javascript"></script>

</body>
</html>