{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Federação PB Junior</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/responsive.css' %}" />
    <link rel="icon" href="{% static 'imagens/icone-pb.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href=" http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    
</head>
<body>
	<!-- =======================
        #Header
    ========================= -->
    <div id="header">
        <div class="container">
            <div class="logo">
                <img src="{% static 'imagens/logo_branca.png' %}" alt="Logo da empresa">
            </div>
            <div class="logo-colorida">
                <img  src="{% static 'imagens/logo_colorida.png' %}" alt="Logo da empresa">
            </div>
            <div class="menu">
                <div class="icone-mobile">
                    <i class="ion-navicon"></i>
                </div>
            
                <nav>
                    <ul>
                        <li><a href="#home" aria-haspopup = "true">Home</a></li>
                        <li><a href="#sobre-nos" aria-haspopup = "true">Sobre Nós</a></li>
                        <li><a href="#empresas-juniores" aria-haspopup = "true">Empresas Juniores</a></li>
                        <li><a href="#parceiros" aria-haspopup = "true">Parceiros</a></li>
                        <li><a href="#agenda" aria-haspopup = "true">Agenda</a></li>
                        <li><a href="#contato" aria-haspopup = "true">Contato</a></li>
                    </ul>
                </nav>

            </div>
		</div>
	</div>

	<div class="menu-mobile">
        <nav>
            <ul>
                <li><a href="#home" aria-haspopup = "true">Home</a></li>
                <li><a href="#sobre-nos" aria-haspopup = "true">Sobre Nós</a></li>
                <li><a href="#empresas-juniores" aria-haspopup = "true">Empresas Juniores</a></li>
                <li><a href="#parceiros" aria-haspopup = "true">Parceiros</a></li>
                <li><a href="#agenda" aria-haspopup = "true">Agenda</a></li>
                <li><a href="#contato" aria-haspopup = "true">Contato</a></li>
            </ul>
        </nav>
        <i class="ion-close"></i>
    </div>     
    </div>
    <!-- =======================
        #Banner
    ========================= -->
    <div class="Banner">
        <div class="Filtro">
            <div class="Espaço-título">
                <div class="Título">
                    <h2>SOMOS UM BANDO QUE VAI MARCAR UMA GERAÇÃO</h2>
                </div>              
            </div>
            <div class="Espaço-botão">
                <div class="Botão-banner">
                    <h3 style="margin-top: 15px;"><a href="#" style="color: white; text-decoration: none">CONHECER MAIS</a></h3>
                </div>              
            </div>
        </div>
    </div>

    <!-- =======================
		#Sobre Nós
    ========================= -->
    <div id="sobre-nos">
        <div class="container">
            <div class="titulo">
                <h1>[ Sobre Nós ]</h1>
            </div>

            <div class="mvv-empresa">
                <div class="empresa">
                    <div class="icone">
                        <div class="imagem-icone">
                            <img src="{% static 'imagens/icones/mvv/flag.png' %}"> </img>
                        </div>
                        
                    </div>
                    <div class="mvv"><p>Missão</p></div>
                    <div class="texto-empresa">
                        <p>Disseminar e desenvolver o MEJ na Paraíba</p>
                    </div>
                </div>

                <div class="empresa">
                    <div class="icone">
                        <div class="imagem-icone">
                            <img src="{% static 'imagens/icones/mvv/view (2).png' %}"> </img>
                        </div>
                        
                    </div>
                    <div class="mvv"><p>Visão</p></div>
                    <div class="texto-empresa">
                        <p>Tornar-se uma Federação de Alto Impacto em 2018</p>
                    </div>
                </div>

                <div class="empresa">
                    <div class="icone">
                        <div class="imagem-icone">
                             <img src="{% static 'imagens/icones/mvv/diamond.png' %}"> </img>
                        </div>
                       
                    </div>
                    <div class="mvv"><p>Valores</p></div>
                    <div class="texto-empresa">
                        <ul>
                            <li><p>Amor pela federação;</p></li>
                            <li><p>Compromisso com resultados;</p></li>
                            <li><p>Transparência em todas as ações;</p></li>
                            <li><p>Colaboratividade para crescermos juntos;</p></li>
                            <li><p>Resiliência em todas as situações.</p></li>
                        </ul>
                    </div>
                </div>
               
            </div>

            <div id="nossa-historia">
                <div id="borda-listrada"></div>
                <div class="historia-titulo">
                    <h4>Nossa História</h4>
                </div>
                <div class="historia-texto">
                    <p>Fundada em 2001, a Federação Paraibana de Empresas Juniores - PB Júnior - É uma associação civil, sem
                      fins econômicos, gerida e constituída exclusivamente por alunos de graduação de Instituições de Ensino Superior da Paraíba (IES-PB).</p>
                </div>
            </div>
        </div>
    </div>
    <!-- =======================
        #Chamada 1
    ========================= -->
        <div class="Chamada1">
            <div class="Texto-chamada1">
                <div class="Texto"> <h2 style="margin-top: 0px;">CONHEÇA NOSSO PRODUTO DE SUPORTE</h2> </div>
            </div>
            <div class="Botão-chamada1"> <h3><a href="#">CLIQUE AQUI</a></h3> </div>
        </div>
    </body>
    <!-- =======================
		#Nosso Time
    ========================= -->

    <div id="nosso-time">
        <div class="container">
            <div class="titulo">
                <h1>[ Nosso Time ]</h1>
            </div>
            <div class="texto-time">
                <p>Somos mais que um time, somos um Carca Time. Nós temos fome de resultados e sede de alto crescimento. Nosso compromisso é com o Brasil, a Paraíba, a sua EJ, com você!
                 Ser do Carca Time é amar a Paraíba e trabalhar a
                cada dia por uma federação de Alto Impacto.</p>
            </div>
        </div>
    </div>

    <!-- =======================
        #Chamada 2
    ========================= -->
    <div class="Chamada2">
        <div class="Texto-chamada2">
            <div class="Texto"> <h2 style="margin-top: 0px;">CONHEÇA NOSSO PRODUTO DE EXPANSÃO</h2> </div>
        </div>
        <div class="Botão-chamada2"> <h3><a href="#">CLIQUE AQUI</a></h3> </div>
    </div>
     <!-- =======================
		#Agenda
    ========================= -->

<div id="agenda">
    <div class="container">
        <div class="titulo">
            <h1>[ Agenda de Eventos ]</h1>
        </div>
    </div>
        <section class="cd-horizontal-timeline">
            <div class="timeline">
                <div class="events-wrapper">
                    <div class="events">
                        <ol>
                        {% for evento in eventos %}
                            {% if forloop.first %}
                                <li><a href="#0" data-date="{{ evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}" class="selected">{{evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}</a></li>
                            {% else %} 
                                <li><a href="#0" data-date="{{evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}">{{evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}</a></li>
                            {% endif %}
                        {% endfor %}
                    
                        </ol>

                        <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                </div> <!-- .events-wrapper -->

                <ul class="cd-timeline-navigation">
                    <li><a href="#0" class="prev inactive">Prev</a></li>
                    <li><a href="#0" class="next">Next</a></li>
                </ul> <!-- .cd-timeline-navigation -->
            </div> <!-- .timeline -->

            <div class="events-content">
                <ol>
                    {% for evento in eventos %}
                        {% if forloop.first %}
                            <li class="selected" data-date="{{ evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}">
                            <div class="container">
                                <div class="image"><img src="{{ evento.imagem.url }}" ></div>
                                <div id="info">
                                    <span>{{ evento.nomeEvento }}</span>
                                    <span>{{ evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}</span>
                                </div>
                                <div class="text">
                                    <p> 
                                    {{ evento.descricao }}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% else %}
                            <li data-date="{{ evento.dataEvento.day|stringformat:"02d"}}/{{ evento.dataEvento.month|stringformat:"02d"}}/{{ evento.dataEvento.year }}">
                            <div class="container">
                                <div class="image"><img src="{{ evento.imagem.url }}" ></div>
                                <div id="info">
                                    <span>{{ evento.nomeEvento }}</span>
                                    <span>{{ evento.dataEvento }}</span>
                                </div>
                                <div class="text">
                                    <p> 
                                    {{ evento.descricao }}
                                    </p>
                                </div>
                            </div>
                        </li>
                         {% endif %}
                    {% endfor %}
                    
                </ol>
            </div> <!-- .events-content -->
        </section>
    </div>
    <!-- =======================
        #Chamada 3
========================= -->
    <div class="Chamada3">
        <div class="Texto1-chamada3">
            <div class="Texto1"> <h2>APOIE A NOSSA REDE.</h2> </div>
        </div>
        <div class="Texto2-chamada3">
            <div class="Texto2"> <h2><a href="#">SEJA UM PARCEIRO</a></h2> </div>
        </div>  
    </div>
    <!-- =======================
		#Contato
    ========================= -->

    <div id="contato">
        <div class="container">
            <div class="titulo">
                <h1>[ Contato ]</h1>
            </div>
            <form class="formulario">
                <div id="informacoes-coluna">
                    <div><input placeholder="Nome" type="text" name="nome"></div>
                    <div><input placeholder="Telefone" type="number" name="telefone"></div>
                </div>
                <input placeholder="Email" type="email" name="email">
                <input placeholder="Assunto" type="text" name="assunto">
                <textarea placeholder="Mensagem" type="text" name="mensagem"></textarea>
                <button class="botao">Enviar</button>
            </form>
        </div>
    </div>

    <!-- =======================
		#Footer
    ========================= -->

    <footer>
        <div class="container">
            <div class="primeira-linha">
                <div class="logo">
                    <img src="{% static 'imagens/logo_branca.png' %}">
                </div>
                <div class="redes-sociais">
                    <div class="coluna-1">
                        <a class="rede" href="https://www.facebook.com/federacaopbjunior/" target="_blank">
                            <img  src="{% static 'imagens/icones/footer/facebook.svg' %}">
                            <span>/federacaopbjunior</span>
                        </a>

                        <a class="rede" href="https://www.instagram.com/federacaopbjunior/" target="_blank">
                            <img  src="{% static 'imagens/icones/footer/instagram.svg' %}">
                            <span>/federacaopbjunior</span>
                        </a>

                        <a class="rede" href="https://www.facebook.com/federacaopbjunior/" target="_blank">
                            <img  src="{% static 'imagens/icones/footer/youtube.svg' %}">
                            <span>/federacaopbjunior</span>
                        </a>
                    </div>

                    <div class="coluna-2">
                    <div class="rede" target="_blank">
                        <img  src="{% static 'imagens/icones/footer/message.svg' %}">
                        <span>contato@pbjunior.org.br</span>
                    </div>

                    <div class="rede" target="_blank">
                        <img  src="{% static 'imagens/icones/footer/location.svg' %}">
                        <div id="local">
                            <span>Campus I - Lot. Cidade Universitaria,</span>
                            <span> João Pessoa - PB, 58033-455</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="segunda-linha">
                <div class="copyright">
                    <span>&copy; 2018 CITi Todos os direitos reservados</span>
                </div>

                <div class="feito">
                    <p>Made with <span><img src="{% static 'imagens/icones/footer/code.svg' %}">
                    </span> and <span><img src="{% static 'imagens/icones/footer/heart.svg' %}"></span> by
                    <span><img src="{% static 'imagens/logo_citi.png' %}"></span>  </p>
                </div>
                
				
            </div>
        </div>
    </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src=" {% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static 'js/linha-tempo.js' %}"></script> <!-- Resource jQuery -->
<script src="{% static 'js/app.js' %}"></script>

</body>
</html>